body { font-family: sans-serif; }
div.main { max-width: 60em; }
div.q { font-weight: bold; }
div.a { margin-bottom: 2em; }
a.small { font-size: 7pt; }
ul { margin-top: 0.5em; margin-bottom: 1em; }
p.license { text-align: center; font-size: 7pt; }
